In [98]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Substantive Questions
** what conclusions can be drawn from the data that would change current behavior**
## 1. Sanctuary Status
** is being a sanctuary county a meaningful designation in terms of educational outcomes?
##

In [99]:
All_School_List = pd.read_csv('Data/All_School_List.csv')
Migrant_School_List = pd.read_csv('Data/Migrant_School_List.csv')
All_School_List.head(1)

,Unnamed: 0,Mean Scale Score,County Name,School Code,District Code,Zip Code,District Name,Total_Students,Per_Student_Spending,Median,Mean,Pop,Enrolled,Utilized,Percent_Eligible,Percent_Utilized,Sanctuary
0,0,2497.525,Madera,100016,65243,93638,Sherman Thomas Charter,19011.95,10950.81,40096.0,52034.0,49068.0,217,116,0.53,0.534562,0.0

In [100]:
Staff_List = pd.read_csv('Data/Staff_Files.csv')
Staff_List['District Name'] =  Staff_List['District Name'].astype(str)
Staff_List.head(1)

,﻿AcademicYear,RecID,District Code,County Name,District Name,GenderCode,Age,EducationLevel,EthnicGroup,YearsTeaching,YearsInDistrict,EmploymentStatusCode,FTE Teaching,FTE administrative,FTE PupilServices,FileCreated
0,1617,1118544,1964329,LOS ANGELES,Bonita Unified,M,53.0,V,7.0,21.0,13.0,T,45.0,0.0,0.0,1/16/2018

In [101]:
Migrant_School_List['District Name']

0      Galt Joint Union Elementary School Distr
1      Galt Joint Union Elementary School Distr
2         Galt Joint Union High School District
3                     Kern High School District
4                     Kern High School District
5              Greenfield Union School District
6              Greenfield Union School District
7              Greenfield Union School District
8              Greenfield Union School District
9              Greenfield Union School District
10             Greenfield Union School District
11           Fairfax Elementary School District
12           Fairfax Elementary School District
13           Fairfax Elementary School District
14           Fairfax Elementary School District
15             Bakersfield City School District
16             Bakersfield City School District
17             Bakersfield City School District
18             Bakersfield City School District
19                            Lamont Elementary
20                          Vineland Elementary
21                          Vineland Elementary
22                    Kern High School District
23                  Arvin Union School District
24                  Arvin Union School District
25                  Arvin Union School District
26                  Arvin Union School District
27                    Kern High School District
28                    Kern High School District
29             Bakersfield City School District
                         ...
338           Santa Ana Unified School District
339           Santa Ana Unified School District
340           Santa Ana Unified School District
341        Desert Sands Unified School District
342        Desert Sands Unified School District
343     Aromas/San Juan Unified School District
344                   Paso Robles Joint Unified
345      San Miguel Joint Union School District
346                            Cabrillo Unified
347                  Guadalupe Union Elementary
348                  Guadalupe Union Elementary
349                         Morgan Hill Unified
350                         Morgan Hill Unified
351                         Morgan Hill Unified
352        Oak Grove Elementary School District
353        Oak Grove Elementary School District
354                             Windsor Unified
355                             Windsor Unified
356            Live Oak Unified School District
357        Earlimart Elementary School District
358            Woodlake Unified School District
359           Los Banos Unified School District
360    South San Francisco Unified School Distr
361                 Lost Hills Union Elementary
362                 Lost Hills Union Elementary
363             Hayward Unified School District
364                 Valley Center-Pauma Unified
365                           New Haven Unified
366        Farmersville Unified School District
367      Coalinga-Huron Unified School District
Name: District Name, dtype: object

In [104]:
District_Experience = Staff_List.groupby('District Name')['YearsTeaching'].mean().reset_index()
District_Experience['District Name'] = District_Experience['District Name'].astype(str).str.upper()
District_Experience['District Name'] = District_Experience['District Name'].str.slice(0,10)
Migrant_School_List['District Name'] = Migrant_School_List['District Name'].astype(str).str.upper()
Migrant_School_List['District Name'] = Migrant_School_List['District Name'].str.slice(0,10)


Migrant_School_List = Migrant_School_List.merge(District_Experience,on='District Name')
Migrant_School_List = Migrant_School_List.drop_duplicates(['School Code', 'District Code'],keep='first')
len(Migrant_School_List)

361